*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .body{
    overflow-x: hidden;
  }


.jumbotron{
    background-image: url(/image/johannes-plenio-FZpCcPss9to-unsplash.jpg);
    text-align: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.jumbotron h1{
 color: white;   
}
.navbar-brand1 img{
    width:30%;
    padding: 50px 0;
}

.header-nav{
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

.link-1 img{
    float: right;
    width: 30%;
    padding-top: 100px;
    /* padding: auto; */
}
.link-2 img{
    width: 30%;
    /* padding: auto; */
}
.link-3 img{
    padding-top: 100px;
    float: left;
    width: 30%;
    /* padding: auto; */
}
@media only screen and (max-width: 600px) {
    .link-1 img{
        width: 40%;
        padding-top: 80px;
        
    }
    .link-2 img{
        width: 40%;
        
    }
    .link-3 img{
        padding-top: 80px;
        float: left;
        width: 40%;
        
    }
  }
.navbar-brand img{
    width:20%;
    /* margin-left: 10px; */
}
.navbar-brand{
    margin: 0;
    /* margin-left: 100px; */
}

.nav_logo{
    /* align-items: center; */
    text-align: center;
    float: right;
}

.Feature{
    text-align: center;
    padding: 80px;
}
.Feature img{
    width: 40%;
}


.Quote{
    background: url(./image/edu_base.jpg);
    text-align: center;
    height: 50vh;
    background-position: center;
    background-size: cover;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
 }